[user]
    name = Duy nè
    email = duyne250897@gmail.com

[core]
    editor = vim
    autocrlf = input
    excludesfile = ~/.gitignore_global
    
[init]
    defaultBranch = main

[color]
    ui = auto
    
[color "branch"]
    current = yellow bold
    local = green bold
    remote = cyan bold

[color "diff"]
    meta = yellow bold
    frag = magenta bold
    old = red bold
    new = green bold
    whitespace = red reverse

[color "status"]
    added = green bold
    changed = yellow bold
    untracked = red bold

[push]
    default = simple
    followTags = true
    
[pull]
    rebase = false

[merge]
    tool = vimdiff
    conflictstyle = diff3
    
[diff]
    tool = vimdiff